.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #741188;
    padding: 0 32px;
  }
  
  .main-header h1 {
    color: white;
  }